node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.vscode
.idea
*.log
target/classes
target/test-classes
target/maven-status
target/generated-sources
backend/target/classes
backend/target/test-classes
backend/target/maven-status
backend/target/generated-sources
frontend/business-central-frontend/node_modules
frontend/business-central-frontend/.angular
